
@{
    ViewBag.Title = "Выбрать";
}

<h2>Опции</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ListScript.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>

<div ng-app="ListApp">
    <section ng-controller="PanelController as panel">
        <ul class="nav nav-tabs">
            <li ng-repeat="bm in bookmarks" ng-class="{active: $parent.panel.isSelected($index)}">
                <a href ng-click="$parent.panel.selectTab($index)">{{bm.Name}}</a>
            </li>
        </ul>
        <div class="panel" ng-repeat="bm in bookmarks" ng-show="$parent.panel.isSelected($index)">
            <h4>{{bm.Name}}</h4>
            <div class="form-group">
                <table style="width:100%">
                    <tr ng-repeat="option in bm.Options">
                        <td>
                            <label>
                                <input type="checkbox" ng-model="option.isSelected" ng-change="select(option, $index)">
                                {{option.Name}}
                            </label>
                        </td>
                        <td>{{option.Description}}</td>
                        <td>{{option.Price | currency}}</td>
                        <td>
                            <input type="number" ng-model="option.Quantity" />
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <b>Итого: {{total()}} руб </b>
        </div>
    </section>
    <button type="button">Готово</button>
</div>