
@{
    ViewBag.Title = "Конфигуратор";
}

<h2>Конфигуратор</h2>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/ListScript.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>

